<link rel="stylesheet" href="/css/edit.css">
<script src="/js/edit.js"></script>
<!-- <script src="/js/modal.js"></script> -->

<form action="" class="course-edit" method="POST">
    <div class="edit-title">
        Edit Course!
    </div>
    <div class="edit-text-container">
        <div class="container-title">
            Title
        </div>
        <div class="container-content">
            <input type="text" name="title" id="titleInput" value="<%= (course && course.title) ? course.title : '' %>">
        </div>
    </div>
    <div class="edit-text-container">
        <div class="container-title">
            Description
        </div>
        <div class="container-content">
            <textarea form="course-edit" name="description" id="descriptionInput"><%= (course && course.description) ? course.description : '' %></textarea>
        </div>
    </div>
    <div class="edit-list-container tall">
        <div class="container-title">
            Lessons
        </div>
        <div class="container-list" id="lessons">
            <%
            course.lessons.forEach((lesson,i) => {
            %>
            <div class="container-list-item">
                <div class="item-title">
                    <%=lesson.title%>
                </div>
                <div class="item-buttons">
                    <div class="button">Edit</div>
                    <div class="button">Delete</div>
                </div>
                <input type="hidden" name="lessons[]" value="<%=lesson.id%>">
            </div>
            <%
                });
            %>
        </div>
        <div class="container-buttons">
            <div id="addLessonButton" class="button">
                Add
            </div>
        </div>
    </div>
    <div class="edit-list-container tall">
        <div class="container-title">
            Projects
        </div>
        <div class="container-list" id="projects">
            <%
                for (let project of course.projects){
            %>
            <div class="container-list-item">
                <div class="item-title">
                    <%= project.title %>
                </div>
                <div class="item-buttons">
                    <div class="button">Edit</div>
                    <div class="button">Delete</div>
                </div>
                <input type="hidden" name="projects" value="<%=project.id%>">
            </div>
            <%
                }
            %>
        </div>
        <div class="container-buttons">
            <div id="addProjectButton" class="button">
                Add
            </div>
        </div>
    </div>
</form>