
<div class="project-container">
    <div class="item wide short">
        <div class="subtitle">
            Název:
        </div>
        <div class="content big-font">
            <%= project.title %>
        </div>
    </div>
    <div class="item">
        <div class="subtitle">
            Popis:
        </div>
        <div class="content">
            <%= project.description %>
        </div>
    </div>
    <div class="item short">
        <div class="subtitle">
            Čas dokončení:
        </div>
        <div class="content big-font">
            6+ hodin
        </div>
    </div>
    <div class="item short">
        <div class="subtitle">
            Obtížnost:
        </div>
        <div class="content difficulty">
            <img src="/img/icons/difficulty/<%=project.difficulty%>.png" alt="">
        </div>
    </div>
    <div class="item">
        <div class="subtitle">
            Gallery:
        </div>
        <div class="content center">
            <%
                for (let pic of project.gallery){
            %>
                <img src="/img/project/<%=pic%>" alt="/img/home.png">
            <%
                }
            %>
        </div>
    </div>
    <div class="item">
        <div class="subtitle">
            Partners:
        </div>
        <div class="content list">
            <%
                for (let partner of project.partners){
            %>
                    <div class="iconed">
                        <img class="icon" src="/img/project/<%= partner.logo %>">
                        <div class="text">
                            <%= partner.name %>
                        </div>
                    </div>
            <%
                }
            %>
        </div>
    </div>

    <div class="item">
        <div class="subtitle">
            Authors:
        </div>
        <div class="content list">
            <%
                for (let author of project.authors){
            %>
                    <div><%= author %></div>
            <%
                }
            %>
        </div>
    </div>

    <div class="item">
        <div class="subtitle">
            Resources:
        </div>
        <div class="content list">
            <%
                for (let resource of project.resources){
            %>
                    <div><%= resource.name %></div>
            <%
                }
            %>
        </div>
    </div>
    
    
    <div class="item tall">
        <div class="subtitle">
            Instructions:
        </div>
        <div class="content list">
            <%
                var counter = 1;
                for (let step of project.steps){
            %>
            <div class="numbered">
                <div class="number"><%= counter %></div>
                <div class="text"> <%= step %></div>
            </div>
            <%
                counter++;
            %>
            <%
                }
            %>
        </div>
    </div>

</div>