<link rel="stylesheet" href="/css/block.css">

<a href="<%= blockContent.link %>" class="block">
    <div class="title">
        <%= blockContent.title %>
    </div>
    <div class="leftContent">
            <%= blockContent.leftContent %> <%= blockContent.leftLabel %>
        
    </div>
    <div class="rightContent">
        <%= blockContent.rightContent %> <%= blockContent.rightLabel %>
    </div>
</a>