<div name="<%=module.id%>" id="<%=module.id%>" class="module">
    <!-- <div class="module-id"><%= module.id %></div> -->
    <div class="module-title"><%= module.id %>: <%= module.title %></div>
    <div class="module-picture">
    
    </div>
    <div class="module-text">
        <div class="text">

        </div>
    </div>
    <div class="module-gallery">
        <!-- <div class="left"></div> -->
        <%
            for (let i = 0; i < 3; i++){
        %>
            <%
                if (false){
            %>
        <div class="item">
            <img src="/img/courses/<%=course.id%>/<%=module.submodules[i].pictureURL%>" alt="">
        </div>
            <%
                } else {
            %>
        <div class="item hidden">
            <img src="" alt="">
        </div>
            <%
                }
            %>

        <%
            }
        %>
        <!-- <div class="right"></div> -->
    </div>
</div>

<script>

    // console.log("Module template script element")

    // console.log("<%=module.id%>");

    // console.log(document.getElementById("<%=module.id%>"))

    // console.log((document.getElementById("<%=module.id%>").querySelector("div")));
    
    (new Gallery(<%- JSON.stringify(module) %>,document.getElementById("<%=module.id%>")));

</script>


