<link rel="stylesheet" href="/css/courses.css">


<div class="courses-main">
    <div class="blocks">
        <%
            for (let course of courses){
        %>
        <a href="/courses?id=<%=course.id%>" class="block">
            <div class="title">
                <%= course.title %>
            </div>
            <div class="lessons">
                <%
                    let lessonCount = course.lessons.length;
                %>
                    <%= lessonCount %> <%= (lessonCount == 1) ? "Lesson" : "Lessons"; %>
                
            </div>
            <div class="time">
                <%= (course.lessons).reduce((acc,ele) => {
                    return acc+(ele.modules.reduce((totalTime,module) => {
                        return totalTime+module.minutes
                    },0))
                },0) %> Minutes
            </div>
        </a>
        <%
            }
        %>
    </div>
</div>