<link rel="stylesheet" href="/css/course.specific.css">
<link rel="stylesheet" href="/css/modal.css">
<script src="/js/gallery.js"></script>

<div class="page-content">
    <div class="course-details" data-id=<%=data.course.id %>>
        <div class="title"><%= data.course.title %></div>
        <div class="picture">
            <%
                if (data.course.modules && data.course.modules[0].submodules){
            %>
            <img src="/img/courses/<%= data.course.id %>/<%= data.course.titlePicture %>" alt="">
            <%
                } else {
            %>
            <img src="/img/homer.png" alt="">
            <%
                }
            %>
        </div>
        <div class="description">
            <div class="description-text">
                <% if (data.course.desc) { %>
                <%= data.course.desc %>
                <% } else { %>
                    No description given...
                <% } %>
            </div>
        </div>
        
        <%
            //for (let i = 0; i < 7; i++) {
            for (let module of data.course.modules){
        %>

        <%- include("./course-module.ejs",{module:module,course:data.course}); %>

        <%
            };
        %>
        
    </div>

    <div class="modal">
        <div class="modal-content large-modal">
            <span class="modal-close">&times;</span>
        </div>
    </div>

    <script src="/js/modal.js"></script>

    </div>
    <script>
        console.log("Page Loaded");
    </script>
    <script>
    
        var moduleGalleries = [];
    </script>
</div>