<% include header.ejs %>

<body>
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title"> <%= data.name %> </span>
                        <p> <%= JSON.stringify(data) %> </p>
                        <div class="row">
                            <%
                                for(let key in data){
                                    if ((data.hasOwnProperty(key)) && (key != "id")){
                            %>
                                        <div class="col s12 m12 l12">
                                            <div class="card">
                                                <div class="card-content">
                                                    <span class="card-title"> <%= key %>  </span>
                                                    <!-- <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">delete</i></a> -->
                                                    <%  let element = data[key];
                                                        if (element instanceof Array) { %>

                                                    <ul class="collection">
                                                    <%
                                                        for (let item of element){
                                                        %>
                                                            <li class="collection-item">
                                                                <div>
                                                                    <%= item.name %>
                                                                    <input type="hidden" name="hidden_value" value=<%= item.id%> />
                                                                    <a href="#!" class="secondary-content">
                                                                        <i class="material-icons">
                                                                            delete
                                                                        </i>
                                                                    </a>
                                                                    <a href="#!" class="secondary-content" onclick="editLi(this.parentElement)">
                                                                        <i class="material-icons">
                                                                            edit
                                                                        </i>
                                                                    </a>
                                                                </div>
                                                                
                                                            </li>
                                                            <%
                                                        }
                                                        %>
                                                    <!-- <%= JSON.stringify(data[key]) %> -->
                                                    </ul>
                                                    <%  } else { %>
                                                        <div class="row">
                                                            <div class="input-field col s12">
                                                                <textarea class="materialize-textarea"><%= element %></textarea>
                                                            </div>
                                                        </div>
                                                    <%  } %>
                                                    <div class="card-action">
                                                        <a onclick="clickEditButton(this)" href="#!">Edit</a>
                                                        <a href="#!">Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                            <%
                                    }
                                }

                            %>
                        </div>
                    </div>
                    <div class="card-action">
                        <a id="submit" href="#">Submit Changes</a>
                        <a href="#">Discard Changes</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script>
        // materialize text-area resize
        
        window.onload = () => {
            let textAreas = document.getElementsByClassName("materialize-textarea");

            for (let textArea of textAreas){
                M.textareaAutoResize(textArea);
            }

            document.getElementById("submit").addEventListener("click",() => {
                submitData();
            });

            //const data = <%= data %>;
            //console.log(data);
        };

        function editLi(element){
            let savedValue = (element.children[0]).value;
            console.log(element);

            let modal = document.createElement("div");
            modal.id = "modal1";
            modal.className = "modal";

            let modalP = document.createElement("p");
            let modalH4 = document.createElement("h4");
            let modalContent = document.createElement("div");
            modalContent.className = "modal-content";

            let modalFooter = document.createElement("div");
            modalFooter.className = "modal-footer";

            let modalFooterA = document.createElement("a");
            modalFooterA.className = "modal-close waves-effect waves-green btn-flat";
            modalFooterA.innerText = "Agree";

            modalContent.appendChild(modalP);
            modalContent.appendChild(modalH4);
            modalFooter.appendChild(modalFooterA);

            modal.appendChild(modalContent);
            modal.appendChild(modalFooter);

            element.appendChild(modal);

            var elems = document.querySelectorAll(".modal");
            console.log(elems);
            var instances = M.Modal.init(elems);

            console.log(instances);

            instances[0].open();
            
        }

        function submitData(){

        }

        function clickEditButton(element){
            let contentElementChildren = element.parentElement.parentElement.children;
            console.log(contentElementChildren);
            for (let child of contentElementChildren){
                if (child.tagName == "P"){
                    alert(child);
                }
            }
            //alert("Button clicked! - " + p);
        }
    </script>
</body>