<% include header.ejs %>


<body>
    <br>
    <br>
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card">
                <div class="card-content">
                    <div class="card-title">
                        <!-- Type and name of data -->
                        <%= data.type %>: <%= data.name %>
                    </div>
                    <p>
                        <!-- Description -->
                        <%= data.description %>
                    </p>

                    <br>

                    <div class="row">
                    
                    <%
                        let nonDisplay = ["id","name","description","type"]
                        console.log(data);

                        for (let key in data){
                            if (data.hasOwnProperty(key)){
                                if ((!nonDisplay.includes(key)) && (data[key].length > 0)) { 
                                    let element = data[key];
                                    console.log(element);
                                    %>

                                    <div class="col s12 m6 l4 xl1">
                                        <div class="card blue-grey small lighten-3">
                                            
                                            <div class="card-content">
                                                <div class="card-title">
                                                    <%= (key[0].toUpperCase() + key.substring(1)) %>
                                                </div>
                                                <!-- <span class="card-title text-bold"> <%= %> </span> -->
                                                <div class="collection">

                                                    <% element.forEach(item => { %>
                                                        <a class="collection-item" href="view?id=<%= item.id %>"> <%= item.name %> </a>
                                                    <% }); %>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    


                    <%          }
                            }
                        } %>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>