<!-- <link rel="stylesheet" href="/css/course.specific.css"> -->
<!-- <link rel="stylesheet" href="/css/lesson.css"> -->
<link rel="stylesheet" href="/css/modal.css">
<script src="/js/gallery.js"></script>

<div class="page-content">
    <div class="course-details" data-id=<%=lesson.id %>>
        <div class="title"><%= lesson.title %></div>
        <div class="other-details">
            <div class="picture-container">
                <div class="picture-main">
                    <img src="/img/courses/<%=lesson.id%>/<%=lesson.titlePicture%>">
                </div>
            </div>
            <div class="info-container">
                <div class="time labeled">
                    <div class="label">
                        Trvání
                    </div>
                    <div class="stuff">
                        <%= lesson.modules.reduce((acc,ele) => { return acc+ele.minutes},0); %> min
                    </div>
                </div>
                <div class="difficulty labeled">
                    <div class="label">
                        Obtížnost
                    </div>
                    <div class="stuff with-image">
                        <img src="/img/icons/difficulty/<%=lesson.difficulty%>.png" alt="">
                    </div>
                </div>
                <div class="desc labeled">
                    <div class="label">
                        Popis
                    </div>
                    <div class="stuff">
                        <%
                            if (lesson.desc){
                        %>
                        <%= lesson.desc %>
                        <%
                            } else {
                        %>
                        Bez popisu.
                        <%
                            }
                        %>
                        
                    </div>
                </div>
                <div class="author labeled">
                    <div class="label">
                        Autor
                    </div>
                    <div class="stuff">
                        <%= lesson.author %>
                    </div>
                </div>
                <div class="partner labeled">
                    <div class="label">
                        Partner
                    </div>
                    <a href="<%=lesson.partner.url%>" class="stuff with-image">
                        <img src="/img/partners/<%=lesson.partner.logo_url%>" alt="">
                    </a>
                </div>
            </div>
        </div>
        
        <%
            //for (let i = 0; i < 7; i++) {
            for (let module of lesson.modules){
        %>

        <%- include("./lesson-module.ejs",{module:module,lesson:lesson}); %>

        <%
            };
        %>
        
    </div>

    <div class="end-button-container">
        <a target="_blank" href="<%=lesson.quiz%>">Spustit kvíz</a>
    </div>


    <div class="modal">
        <div class="modal-content large-modal">
            <span class="modal-close">&times;</span>
        </div>
    </div>

    <script src="/js/modal.js"></script>

    </div>
    <script>
        console.log("Page Loaded");
    </script>
    <script>
    
        var moduleGalleries = [];
    </script>
</div>