<!-- <link rel="stylesheet" href="/css/course.specific.css"> -->
<!-- <link rel="stylesheet" href="/css/lesson.css"> -->
<link rel="stylesheet" href="/css/modal.css">
<script src="/js/gallery.js"></script>


    <div id="course" data-id=<%=lesson.id %>>
        <section id="picture">
            <img src="/img/courses/<%=lesson.id%>/<%=lesson.titlePicture%>">
        </section>
        <section id="info">
            <section id="title">
                <h1>
                    <%= lesson.title %>
                </h1>
            </section>
            <section id="desc">
                <p>
                    <%
                        if (lesson.desc){
                    %>
                    <%= lesson.desc %>
                    <%
                        } else {
                    %>
                    Bez popisu.
                    <%
                        }
                    %>
                </p>
            </section>
            <ul id="details">
                <li id="time">
                    <a>
                        <i><img src="/img/icons/hodiny.png" alt=""></i><%= lesson.modules.reduce((acc,ele) => { return acc+ele.minutes},0); %> min
                    </a>
                </li>
                <li>
                    <a><%= lesson.modules.length %> kroků</a>
                </li>
                <li id="difficulty">
                    <a>
                        <img src="/img/icons/difficulty/<%=lesson.difficulty%>.png" alt="">
                    </a>
                </li>
                <li>
                    <a>#3DTisk</a>
                </li>
            </ul>
            <article id="author">
                <ul>
                    <li>
                        <i class="fa fa-user-circle fa-sm">
                        </i>
                        <p class="author_name">
                            <%= lesson.author %>
                        </p>
                    </li>
                </ul>
                
            </article>
            <section id="partner">
                <ul>
                    <li>
                        <a href="<%=lesson.partner.url%>" class="stuff with-image" target="_blank">
                            <img src="/img/partners/<%=lesson.partner.logo_url%>" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.delejcotebavi.com/akce/3D-tisk-pro-zacatecniky" class="stuff with-image" target="_blank">
                            <img src="/img/icons/delej_co_te_bavi.png">
                        </a>
                    </li>
                </ul>
            </section>
        </section>    
        <section id="modules">
            <%
                for (let module of lesson.modules){
            %>
            <article id="<%=module.id%>">
                <h2>
                    <%=module.id%>: <%= module.title %>
                </h2>
                <ul class="icons">
                    <%
                        for (let i = 0; i < module.submodules.length; i++) {
                            let submodule = module.submodules[i];
                    %>
                            <li class="<%= (i == 0) ? 'selected' : '' %>">
                                <img src="/img/courses/<%=lesson.id%>/<%=submodule.pictureURL%>" alt="/img/homer.png" onclick="toggleSubmodule('<%=module.id%>_<%=i%>')">
                            </li>
                    <%
                        } 
                    %>
                </ul>
                <div class="submodules">
                    <%
                        for (let i = 0; i < module.submodules.length; i++){
                            let submodule = module.submodules[i];
                    %>
                            <article id="<%=module.id%>_<%=i%>" class="submodule">
                                <img src="/img/courses/<%=lesson.id%>/<%=submodule.pictureURL%>" alt="/img/homer.png" onclick="fillModalWithImage('/img/courses/<%=lesson.id%>/<%=submodule.pictureURL%>')">
                                <h3>
                                    <%= submodule.title %>
                                </h3>
                                <ol>
                                    <%
                                        for (let text of submodule.text) {
                                    %>
                                            <li><%- text %></li>
                                    <%
                                        }
                                    %>
                                </ol>
                            </article>
                    <%
                        }
                    %>
                </div>
                <script>
                    function toggleSubmodule(id){
                        let target = document.getElementById(id);
                        let parent = target.parentNode;

                        Array.from(parent.children).forEach(child => {
                            child.style.display = "none";
                        });

                        target.style.display = "grid";
                    }
                </script>
            </article>
    
            <%
                };
            %>
        </section>
        <section id="quiz">
            <a href="<%=lesson.quiz%>" target ="_blank" class="button">SPUSTIT KVIZ</a>
        </section>
        
        
        
    </div>

    <!-- <div class="end-button-container">
        <a target="_blank" href="<%=lesson.quiz%>">Spustit kvíz</a>
    </div>
 -->

    <div class="modal">
        <div class="modal-content large-modal">
            <span class="modal-close">&times;</span>
        </div>
    </div>

    <script src="/js/modal.js"></script>
    <script src="/js/lesson.js"></script>

    </div>
    <script>
        console.log("Page Loaded");
    </script>
    <script>
        var moduleGalleries = [];
    </script>
