<!-- <link rel="stylesheet" href="/css/course.specific.css"> -->
<!-- <link rel="stylesheet" href="/css/lesson.css"> -->
<link rel="stylesheet" href="/css/modal.css">
<script src="/js/gallery.js"></script>


    <div id="course" data-id=<%=lesson.id %>>
        <section id="title">
            <h1>
                <%= lesson.title %>
            </h1>
        </section>
        <section id="picture">
            <img src="/img/courses/<%=lesson.id%>/<%=lesson.titlePicture%>">
        </section>
        <article id="time">
            <h3>
                Trvání
            </h3>
            <p>
                <%= lesson.modules.reduce((acc,ele) => { return acc+ele.minutes},0); %> min
            </p>
        </article>
        <article id="difficulty">
            <h3>
                Obtížnost
            </h3>
            <a>
                <img src="/img/icons/difficulty/<%=lesson.difficulty%>.png" alt="">
            </a>
        </article>
        <article id="desc">
            <h3>
                Popis
            </h3>
            <p>
                <%
                    if (lesson.desc){
                %>
                <%= lesson.desc %>
                <%
                    } else {
                %>
                Bez popisu.
                <%
                    }
                %>
            </p>
        </article>
        <article id="author">
            <h3>
                Autor:
            </h3>
            <p>
                <%= lesson.author %>
            </p>
        </article>
        <article id="partner">
            <h3>
                Partner:
            </h3>
            <a href="<%=lesson.partner.url%>" class="stuff with-image">
                <img src="/img/partners/<%=lesson.partner.logo_url%>" alt="">
            </a>
        </article>
        <section id="modules">
            <%
                for (let module of lesson.modules){
            %>
            <article>
                <h2>
                    <%= module.title %>
                </h2>
                <ul class="icons">
                    <%
                        for (let i = 0; i < module.submodules.length; i++) {
                            let submodule = module.submodules[i];
                    %>
                            <li>
                                <img src="/img/courses/<%=lesson.id%>/<%=submodule.pictureURL%>" alt="/img/homer.png" onclick="toggleSubmodule('<%=module.id%>_<%=i%>')">
                            </li>
                    <%
                        } 
                    %>
                </ul>
                <div class="submodules">
                    <%
                        for (let i = 0; i < module.submodules.length; i++){
                            let submodule = module.submodules[i];
                    %>
                            <article id="<%=module.id%>_<%=i%>" class="submodule">
                                <img src="/img/courses/<%=lesson.id%>/<%=submodule.pictureURL%>" alt="/img/homer.png">
                                <h3>
                                    <%= submodule.title %>
                                </h3>
                                <p>
                                    <%- submodule.text.join("<br>") %>
                                </p>
                            </article>
                    <%
                        }
                    %>
                </div>
                <script>
                    function toggleSubmodule(id){
                        let target = document.getElementById(id);
                        let parent = target.parentNode;

                        Array.from(parent.children).forEach(child => {
                            child.style.display = "none";
                        });

                        target.style.display = "grid";
                    }
                </script>
            </article>
    
            <%
                };
            %>
        </section>
        
        
        
    </div>

    <div class="end-button-container">
        <a target="_blank" href="<%=lesson.quiz%>">Spustit kvíz</a>
    </div>


    <div class="modal">
        <div class="modal-content large-modal">
            <span class="modal-close">&times;</span>
        </div>
    </div>

    <script src="/js/modal.js"></script>

    </div>
    <script>
        console.log("Page Loaded");
    </script>
    <script>
        var moduleGalleries = [];
    </script>
